@{
	Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>XYZ Teknoloji Üniversitesi</title>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/jquery/dist/jquery.min.js" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div class="container yazılar">
    <div class="row">
      <div class="col-md-4 orta">
        <h3>Hoşgeldin Admin</h3>
        <br>
        <img src="~/images/avatar.jpeg" height="200">
      </div>
      <div class="col-md-4 orta">
        <h3>Duyurular</h3>
        <ol>
          <li>2022-2023 Eğitim Öğretim Yılı Kayıt Yenileme Duyurusu</li>
          <li>İkinci Yabancı Dil Kursları ve Sertifikalar Hakkında</li>
          <li>Staj / Yerinde Uygulama Yapacak Öğrencilerin Evrakları Hakkında</li>
        </ol>
      </div>
      <div class="col-md-4 orta">
        <h3>Bilgilendirme</h3>
        <p>Öğrenci El Kitabı</p>
        <img src="">
        <p>KVKK Bilgilendirme Metni</p>
        <img src="~/images/KVKK.PNG" height="70" class="kvkk">
      </div>
      </div>
    </div>
  </body>

</html>