@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
<title>XYZ Teknoloji Üniversitesi</title>
<link rel="stylesheet" href="~/css/stylekvkk.css" />

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/jquery/dist/jquery.min.js" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
<div class="container">
        <button type="button" class="collapsible">
            <p class="ali">Üniversitemizi yeni kazanan öğrencilerin kayıtları nasıl
                yapılmaktadır?</p>
        </button>
        <div class="content">
            <p>Üniversitemize ÖSYM tarafından yerleştirilenlerin kayıt tarihleri, yerleri ve kayıt belgeleri
                ÖSYM
                Kılavuzu ve web sayfamızda yer almaktadır.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Öğrenci Kimlik Kartı nasıl alınır?</p>
        </button>
        <div class="content">
            <p>YKS ile yerleşen öğrencilere üniversiteye ilk kayıt esnasında, Yatay Geçiş, Dikey Geçiş, Ek
                Kontenjan,
                Uluslararası Kontenjanla vb. kayıt olan öğrencilere kimlik kartları kayıtlardan sonra verilir.
                Bu
                kimlikler öğrenci programa kayıtlı olduğu sürece geçerlidir.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Kimlik kartının kaybolması veya çalınması durumunda yapılması gereken işlemler
                nelerdir?</p>
        </button>
        <div class="content">
            <p>Öğrenci İşleri Daire Başkanlığı'na müracaat edilmesi gerekmektedir.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Şifremi unuttum ne yapmalıyım?</p>
        </button>
        <div class="content">
            <p>Öğrenci İşleri Daire Başkanlığı'na bizzat başvurarak, yeni şifre alabilirsiniz.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Öğrenci Bilgi Sistemi ile ulaşabileceğim bilgiler ve yapabileceklerim nelerdir?</p>
        </button>
        <div class="content">
            <p>Not durumu, devam-devamsızlık, sınav programı ve çeşitli duyuruları takip edebilirsiniz. Dönem
                başlarında kayıt yenileme işlemlerinizi yapabilir ders kayıt çıktısını alabilirsiniz.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Kişisel bilgilerimde değişiklik, düzeltme olduğu zaman ne yapmalıyım?</p>
        </button>
        <div class="content">
            <p>İsim, soy isim veya nüfus kimlik bilgilerinde (Ana adı, Baba adı, Doğum Tarihi, Doğum Yeri,
                Medeni Hali
                vb.) değişiklik ya da düzeltme olmuş ise yeni nüfus cüzdanı, varsa mahkeme kararının onaylı bir
                sureti
                dilekçeye eklenerek Öğrenci İşleri Daire Başkanlığı'na müracaat edilir. Değişiklik sonucunda
                yeni kimlik
                kartının düzenlenmesi isteniyorsa dilekçede belirtilir. Eski öğrenci kimlik kartı teslim edilir
                ve yeni
                kimlik kartı alınır.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Ders muafiyeti nedir? Nasıl başvurulur?</p>
        </button>
        <div class="content">
            <p>Ön lisans/lisans öğrencileri, daha önce öğrenim gördüğü yükseköğretim kurumunda başarmış olduğu
                dersler
                için muafiyet talebinde bulunabilir. Muafiyet dilekçesini muafiyete esas olacak onaylı
                belgelerle
                (transkript, ders içerikleri) birlikte eğitim-öğretimin başladığı ilk hafta içerisinde bağlı
                bulundukları Fakülte Dekanlıklarına/Yüksekokul/Meslek Yüksekokulu Müdürlüklerine verir. Muafiyet
                talebi;
                dersin içeriği, kredisi ve başarı notu dikkate alınarak ilgili yönetim kurulu tarafından karara
                bağlanır. Süresi içinde yapılmayan muafiyet talebi değerlendirmeye alınmaz. Muafiyeti bir kez
                reddedilen
                dersten tekrar muafiyet talep edilmez.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Devam mecburiyeti var mıdır?</p>
        </button>
        <div class="content">
            <p>Öğrenciler, eğitim-öğretimin başladığı tarihten itibaren teorik derslere %70, uygulama ve
                laboratuvar
                derslerine ise en az %80 oranında devam etmek zorundadırlar. Öğrencilerin devamsızlık durumu,
                ilgili
                öğretim elemanı tarafından takibi yapılarak sisteme işlenir. Öğrenciler devamsızlık durumunu
                sistemden
                izler/izleyebilirler. Devamsızlık oranının teorik derslerde %30'u, uygulama ve laboratuvar
                derslerinde
                ise %20'yi aşması halinde öğrenciye otomatik olarak NA notu verilir ve öğrenci yarıyıl sonu
                sınavlarına
                giremez.
                Yabancı Dil hazırlık eğitimindeki öğrencilerin ise tüm değerlendirmeler sonucunda başarılı
                olabilmeleri
                için derslerin %80'ine devam etmeleri zorunludur. Derslerin %80'ine devam etmemiş olan
                öğrenciler
                başarısız sayılırlar.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Ders Kayıt işlemi nasıl yapılır?</p>
        </button>
        <div class="content">
            <p>Derslere yazılım ve kayıt yenileme işlerinin tümünden öğrenciler sorumlu olup, bu işlemleri
                kendileri
                yapmakla yükümlüdürler. Öğrenci, her yarıyılın başlamasından önce, akademik takvimde belirtilen
                sürelerde danışman öğretim elemanının denetiminde alacağı dersleri seçer ve seçmiş olduğu
                dersleri
                danışmanına onaylatır, onaylı ders kayıt formunu Danışmanına teslim eder.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Kayıt yenileme sırasında alt sınıftan başarısız olunan derslerin öncelikle mi
                alınması gerekmektedir?</p>
        </button>
        <div class="content">
            <p>Kayıt yenileme sırasında öncelikle alt sınıftan başarısız, devamsız ve hiç alınmayan derslerin
                alınması
                gerekmektedir. Sistem sadece devamsız ve başarısız olduğunuz dersleri otomatik olarak eklemekte,
                İlk kez
                alınacak dersleri öğrenci seçer ve seçmiş olduğu dersleri danışmanına onaylatır.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Bir yarıyıl kayıt yenilemeyen öğrencinin izleyen yarıyılda öğrencilik hakkı devam
                eder mi?</p>
        </button>
        <div class="content">
            <p>Kaydını yenilemeyen öğrenciler o yarıyılda derslere giremez ve öğrencilik haklarından
                yararlanamazlar.
                İzleyen yarıyılda ise kaydını yenilediği taktirde öğrencilik hakları devam eder. Kayıt yenileme
                ve ders
                kaydı yaptırılmayan dönem öğretim süresine dahildir.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">GNO nasıl hesaplanmaktadır?</p>
        </button>
        <div class="content">
            <p>Öğrencinin tamamlamış olduğu yarıyıl da dâhil olmak üzere, o güne kadar kayıt yaptırdığı her
                dersin
                kredisi/AKTS 'si ile dersin harfli başarı notunun katsayısının çarpılması sonucu elde edilen
                sayıların
                toplamının almış olduğu tüm derslerin kredi/AKTS toplamına bölünmesi ile hesaplanır. Gerek dönem
                ve
                gerekse genel not ortalamasının hesabında AA'dan FF'ye kadar verilen notlar dikkate alınır.
                Genel not
                ortalamasının hesaplanmasında, tekrar edilen derslerden en son alınan harf notu kullanılır.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Ön koşullu ders ne demektir? Bölümümde/Programımda ön koşullu ders var mıdır?
                Nasıl öğrenebiliriz?</p>
        </button>
        <div class="content">
            <p>Üniversitemizde bazı dersleri alabilmek için bu derslerle bağlantılı dersleri önceden
                (belirlenmiş harf
                notunu alarak) başarmış olmak gerekir, bu tür derslere ön koşullu ders denir. Kayıtlı
                bulunduğunuz
                programdaki ön koşullu derslerin neler olduğunu Bölüm/Program ders planında görebilirsiniz.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Harf notu AA, BA, BB, CB ve CC olanlar da bütünleme sınavına girebilir mi?</p>
        </button>
        <div class="content">
            <p>Hayır. Bütünleme sınavına yalnızca harf notu FF, FD, DD ve DC olanlar girebilir.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Bir dersin final sınavına giremedim bu dersten bütünleme sınavına girebilir miyim?</p>
        </button>
        <div class="content">
            <p>Dersten devamsızlıktan kalmadıysanız bütünleme sınavına girebilirsiniz.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Bütünleme sınavı notum final notumdan daha düşük? Harf notu verilirken final notu
                mu, bütünleme notu mu
                dikkate alınacak?</p>
        </button>
        <div class="content">
            <p>Her zaman son alınan not geçerlidir. Bu sebeple bütünleme sınavına giren öğrencilerin harf notu
                hesaplanırken final notu değil bütünleme notu dikkate alınır.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Erasmus Öğrenci Değişim Programı var mıdır?</p>
        </button>
        <div class="content">
            <p>Evet, Erasmus Değişim Programı kapsamında her yıl birçok Avrupa ülkesinden Üniversitesimize
                öğrenciler
                gelmekte ve üniversite olarak anlaşmalı olduğumuz kurumlara öğrenci gönderilmektedir.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Üniversitemizde Yaz Öğretimi var mıdır? Yaz Öğretiminde en fazla kaç ders
                alınabilir? Başarı
                değerlendirmesi nasıl yapılır?</p>
        </button>
        <div class="content">
            <p>Yaz öğretimi vardır, bir öğrenci, Yaz öğretiminde 18 AKTS'yi geçmeyecek şekilde en çok üç ders
                ve bir
                yerinde uygulama olmak üzere toplam 22 AKTS' ye kadar ders alınabilir. Yaz öğretiminde başarı
                değerlendirmesi, normal dönemlerde uygulanan yöntemlerle yapılır.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Askerlik tecil işlemleri nasıl yapılır?</p>
        </button>
        <div class="content">
            <p>Üniversiteye yeni kayıt yaptıran öğrencilerden yoklama çağında olanlar ile daha önce kayıt
                yaptırmış
                ancak yoklama çağına yeni gelmiş olan öğrencilerin Askerlik İşlemleri Askerlik Şubesi
                Başkanlıkları
                tarafından YÖKSİS üzerinden yapılacaktır. Askerlik Şubesi Başkanlıklarına EK-C2 belgesi
                gönderilmeyip,
                gerekli durumlarda öğrenci talep ederse Öğrenci İşleri Daire Başkanlığı tarafından EK-C belgesi
                düzenlenerek verilmektedir.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Ön lisans/lisans düzeyinde Onur ve Yüksek Onur Öğrencisi nasıl olunur?</p>
        </button>
        <div class="content">
            <p>(1) En az normal ders yükü 30 AKTS almış olan öğrencilerden, bir akademik yılsonunda genel not
                ortalaması 3,50-4,00 arasında olan ve NA, I, FF, FD, E, W ile F notu olmayan öğrenciler yüksek
                onur
                öğrencisi, bir akademik yılsonunda genel not ortalaması 3,00-3,49 arasında olan ve NA, I, FF,
                FD, E, W
                ile F notu olmayan öğrenciler onur öğrencisi sayılırlar ve bunlara onur veya yüksek onur belgesi
                verilir. <br>(2) Kayıtlı olduğu bölümü/programı tamamlayan GNO'su 3,00-3,49 olan öğrenciler
                onur, 3,50 ve
                daha yüksek olanlar yüksek onur öğrencisi olarak mezun olurlar. Bu durum diplomalarında
                belirtilir ve
                diploma ekine işlenir.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Kayıt dondurma nasıl yapılır?</p>
        </button>
        <div class="content">
            <p>Mazeretiniz sebebi ile (sağlık, ekonomik, ailevi vb.) eğitiminize bir süre ara vermeniz
                gerekiyor ise
                dilekçe ve ekli belgelerle ilgili Fakülte Dekanlıklarına/Yüksekokul/Meslek Yüksekokulu
                Müdürlüklerine
                başvuru yapmanız gerekir. Akademik Birimin yönetim kurulu kararı ile bir veya iki yarıyıl kayıt
                dondurulabilir. Ancak kayıt dondurma süresi toplam olarak ön lisans programlarında iki, lisans
                programlarında dört yarıyılı aşamaz. Bu süreler, azami öğretim süresine dâhil edilmez.
                Kaydı dondurulan öğrenciler, eğitim-öğretim faaliyetlerine katılamaz ve o dönemdeki ara sınav ve
                yarıyıl
                sonu sınavlarına giremezler. Kayıt dondurma isteklerinin yarıyıl başında ve ders kayıt süresi
                bitmeden
                yapılması gerekir.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Diplomam henüz hazırlanmamış, geçici mezuniyet belgesi almak için ne yapmalıyım?</p>
        </button>
        <div class="content">
            <p>Öğrenci İşleri Daire Başkanlığı'na müracaat eden mezuniyete hak kazanmış öğrencilere Diplomalar
                hazırlanıncaya kadar "Geçici Mezuniyet Belgesi" verilmektedir.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Diplomamı almak için gerekli olan belgeler nelerdir?</p>
        </button>
        <div class="content">
            <p>Geçici Mezuniyet Belgesi Öğrenci İşlerine teslim edilir ve diploma alınır. Eğer diplomayı
                başkası teslim
                alacaksa; noterden alınmış vekâletname (aslı) gereklidir.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Diploma belgesinin zayii veya kaybedilmesi durumunda ne yapılmalıdır?</p>
        </button>
        <div class="content">
            <p>Diploma Kayıp Başvuru dilekçesi ile Öğrenci İşleri Daire Başkanlığı'na başvurulur. İkinci nüsha,
                asıl
                belgenin düzenlenmesine ilişkin hükümlere göre düzenlenir ve üzerine "İkinci Nüsha" "Duplicate"
                ibaresi
                yazılır.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Çift anadal/yan dal programı nedir ve nasıl başvuru yapılır?</p>
        </button>
        <div class="content">
            <p>XYZ Teknoloji Üniversitesinde okuyan öğrenciler, başka bir alanda çift anadal veya yan dal
                eğitimi
                alabilirler. Çift anadal/yan dal koşulları, Yükseköğretim Kurumlarında Ön lisans ve Lisans
                Düzeyindeki
                Programlar Arasında Geçiş, Çift Anadal, Yan Dal ile Kurumlar Arası Kredi Transferi Yapılması
                Esaslarına
                İlişkin Yönetmelik ve Üniversitemizin eğitim-öğretim yönetmeliğinde yer almaktadır.</p>
        </div>
        <button type="button" class="collapsible">
            <p class="ali">Yabancı Dil Dersi Muafiyet Sınavı nasıl yapılır?</p>
        </button>
        <div class="content">
            <p>Eğitim dili Türkçe olan programlarımızı kazanan öğrenciler için Yabancı Dil Ders Muafiyet Sınavı
                Yabancı
                Diller Yüksekokulu Müdürlüğü tarafından yapılır. Sınavın yeri ve saati Yabancı Diller
                Yüksekokulu
                Müdürlüğü tarafından öğrencilere duyurulur. Bu sınavdan 100 üzerinden en az 70 puan alan
                öğrenciler
                ortak zorunlu yabancı dil dersinden muaf olurlar ve alınan notlar "İstanbul Aydın Üniversitesi
                Ön Lisans
                ve Lisans Eğitim-Öğretim ve Sınav Yönetmeliği " ne göre harfli nota çevrilerek not ortalamasına
                katılır.</p>
        </div>
    </div>
<script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
</body>

</html>